.navbar:not(:last-child) {
    margin-bottom: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 100;
    &.scrolled {
        background-color: $navbar-bg-scrolled;
    }
    &.scrolled {
        .logo {
            display: inline-block;
        }
    }
    .logo {
        display: none;
        margin: 20px 45px;
        width: 30px;
    }
    .cart {
        .navbar-item {
            position: relative;
            margin: 20px 45px;
            .cart-items {
                position: absolute;
                top: -5px;
                right: -10px;
                display: none;
                font-size: 1rem;
                color: #fff;
                cursor: pointer;
                z-index: 10;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-color: $cart-items-bg;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }
            }
            .fa {
                cursor: pointer;
                font-size: 2rem;
                color: #fff;
            }
        }
    }
}

.navbar-item {
    .title,
    .subtitle {
      margin-bottom: 0; }
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 10px; } } }
  
  .navbar {
    &:not(:last-child) {
      margin-bottom: 20px; }
    code {
      border-radius: $radius; }
    img {
      display: inline-block;
      vertical-align: top; }
    @include tablet {
      align-items: center;
      display: flex;
      justify-content: space-between;
      & > .navbar-item {
        &:not(.is-narrow) {
          flex: 1; } } } }
  
  .navbar-left,
  .navbar-right {
    .navbar-item {
      &.is-flexible {
        flex: 1; }
      &:not(:last-child) {
        margin-right: 10px; } } }
  
  .navbar-left {
    @include mobile {
      & + .navbar-right {
        margin-top: 20px; } }
    @include tablet {
      align-items: center;
      display: flex; } }
  
  .navbar-right {
    @include tablet {
      align-items: center;
      display: flex;
      justify-content: flex-end; } }
  